.general-btn {
  width: 138px;
  background: #394577;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 7px 0;
  border-radius: 10px;
  color: #FAFAFA;
  min-height: 34px;
  max-height: 44px;
}