
.history {
  background: #C4C4C4;
  min-width: 257px;
  max-width: 257px;
  height: 100%;

  span {
    font-weight: 600;
    color: #29335C;
    font-size: 12px;
  }
}

.history-item {
  display: flex;
  flex-direction: column;
  height: 77px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.23);;

  span:first-child {
    padding: 10px 0 0 10px;
  }

  span:nth-child(2) {
    padding: 18px 0 0 34px;
  }
}