
.sidebar {
  background: #394577;
  max-width: 240px;
  min-width: 240px;
  min-height: 100%;
  color: #CED4EB;
  font-size: 17px;
}

.nav-list {
  padding-top: 40px;

  li {
    padding-bottom: 15px;
  }
}

.nav-link {
  color: #CED4EB;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    font-weight: 500;
  }

  img {
    padding: 0 15px 0 35px;
  }
}

.active {
  font-weight: 500;
}

.sidebar-logo {
  padding: 13px 0 0 20px;
  display: flex;
  align-items: center;

  span {
    padding-left: 14px;
  }
}